In [6]:
# Setup

import pandas as pd
import os

path = os.getcwd()
path += '\\Downloads\\Data'
files = os.listdir(path)
pd.set_option('max_columns', None)

In [15]:
files

['DC_1819_final.xlsx',
 'FL_1819_final.xlsx',
 'IL_1819_final.xlsx',
 'OH_1819_final.xlsx',
 'TX_1819_final.xlsx',
 'VA_1819_final.xlsx',
 'WA_1819_final.xlsx',
 'WI_1819_final.xlsx']

In [94]:
# Create data frame for preliminary data
data = pd.DataFrame(index=[f[0:2] for f in files], columns=['School#', "Early Education", "Elementary", "Middle", "High", "Students#", "AVG_ExpendPP"])

In [99]:
# Some of the data files needs to be converted into a Excel Workbook to open

for f in files:
    print(f)
    st = f[0:2]
    df = pd.read_excel("Downloads/Data/" + f, index_col="schoolid")
    
    data['School#'][st] = df.count()['state']
    data['Students#'][st] = df['ncesenroll'].sum()
    
    
    
    data["AVG_ExpendPP"][st] = df["pp_total_raw_" + st].sum()/data["School#"][st]
    
    
    grade_level = df.level.value_counts()
    for ind in range(1,5):
        try:
            grade_level[ind]
        except:
            continue
        data[data.columns[ind]][st] = grade_level[ind]

DC_1819_final.xlsx
FL_1819_final.xlsx
IL_1819_final.xlsx
OH_1819_final.xlsx
TX_1819_final.xlsx
VA_1819_final.xlsx
WA_1819_final.xlsx
WI_1819_final.xlsx

In [100]:
data

   School# Early Education Elementary Middle  High    Students# AVG_ExpendPP
DC     231              13         99     66    41        84996      21802.3
FL    3611             NaN       1779    928   878  2.79706e+06      10069.6
IL    3872             152       1656   1314   722  1.93805e+06        12793
OH    3396              51       1538    872   881  1.67081e+06      8711.58
TX    8641             241       4420   1722  2153  5.40156e+06      11133.8
VA    1797               6       1097    369   325  1.26213e+06      12175.4
WA    2384              89       1104    451   718  1.12095e+06      15766.8
WI    2262             102        975    532   580       855197      12419.7